<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/index.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>

<section class="row">
    <header>
        <nav class="navbar navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="index.html">
                    <img src="/images/UTCC_SubMain-1.jpg" alt="" height="53" class="d-inline-block align-text-center">
                </a>
                <a href="login.html">
                    <button class="btn btn-outline-secondary" type="button">เข้าสู่ระบบ</button>

                </a>
            </div>
        </nav>
    </header>
    <main>
        <div class="container">
            <div class="row pt-4 mb-4 align-items-center">
                <div class="col-4">
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="ค้นหาร้าน" aria-label="Search">
                    </form>
                </div>
            </div>
            <div class="row mb-4">
                <div class="row">
                    <div class="col-3"><h4>store name</h4></div>
                    <div class="col-3">
                        <button type ="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">เพิ่มเติม</button>
                    </div>
                </div>
                <div class="pt-4 col-xl-3 col-lg-4 col-md-6 col-sm-12">
                    <div class="card" style="width: 17rem;">
                        <div class="card-body">
                            <h5 class="card-title">name</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</section>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">รายการอาหาร</h5>
            </div>
            <div class="modal-body">
                <div class="row mb-3">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Pice</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="menu:  ${menu}">
                                <td th:text="${menu.name}"></td>
                                <td th:text="${menu.price}"></td>
                                <td>
                                    <img th:src="@{'/images/' + ${menu.imageFileName}}"
                                         alt="..." width="100">
                                </td>
                                <td><input type="checkbox"></td>
                            </tr>
                            </tbody>
                        </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ยกเลิก</button>
                 <button type="submit" class="btn btn-primary">เพิ่งลงจาน</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>